<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="style-title">Adicionar novo produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="backgrou-fixed"></div>

  <ion-card class="overlay">
    <ion-list class="form-regist">

      <ion-item class="itens-regist">
        <ion-label position="floating" class="custom-label">Nome</ion-label>
        <ion-input type="text" placeholder="" [(ngModel)]="nome" name="nome" required class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="itens-regist">
        <ion-label position="floating" class="custom-label">Preço</ion-label>
        <ion-input type="number" placeholder="" [(ngModel)]="preco" name="preco" required
          class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="itens-regist">
        <ion-label position="floating" class="custom-label">Selecione uma categoria</ion-label>
        <ion-select [(ngModel)]="selectedCategory" name="categoria" required class="custom-select">
          <ion-select-option value="men's clothing">men's clothing</ion-select-option>
          <ion-select-option value="jewelery">jewelery</ion-select-option>
          <ion-select-option value="electronics">electronics</ion-select-option>
          <ion-select-option value="women's clothing">women's clothing</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="itens-regist">
        <ion-label position="floating" class="custom-label">Descrição</ion-label>
        <ion-input type="text" placeholder="" [(ngModel)]="descricao" name="descricao" required
          class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="itens-regist">
        <ion-label class="custom-label">URL da imagem</ion-label>
        <ion-input type="url" placeholder="" [(ngModel)]="image" name="image" required class="custom-input"></ion-input>
      </ion-item>

      <ion-item *ngIf="image" class="itens-regist">
        <img [src]="image" alt="Imagem selecionada" class="custom-image" />
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button size="small" (click)="salvarProduto()">{{ edicao ? 'Salvar' : 'Cadastrar' }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>