<ion-button class="btn-modal" id="open-modal" expand="block" size="small">
  <ion-icon class="filter-icon" name="options-outline"></ion-icon>
</ion-button>
<ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="block">
      <ion-button  class="btn-filtros" id="filtro-preco">Preço</ion-button>
      <ion-popover trigger="filtro-preco" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false" (click)="filtrarPorPreco('maior')">Preço ▲</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="filtrarPorPreco('menor')">Preço ▼</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="filtrarPorPreco('all')">All</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

      <ion-button class="btn-filtros" id="filtro-categoria">Categoria</ion-button>
      <ion-popover trigger="filtro-categoria" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
               <ion-item [button]="true" [detail]="false" (click)="filtrarPorCategoria('all')">Todas</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="filtrarPorCategoria('men\'s clothing')">Men's Clothing</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="filtrarPorCategoria('women\'s clothing')">Women's Clothing</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="filtrarPorCategoria('jewelery')">Jewelery</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="filtrarPorCategoria('electronics')">Electronics</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </ng-template>
</ion-modal>