<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/Home" routerLinkActive="router-link-active">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button color="light" routerLink="/lista">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
      <ion-button color="light" routerLink="/cadastro">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button color="light" routerLink="/">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>