ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

ion-toolbar {
    --background: var(--color-backgroud-init);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ion-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}