.edit-header-toolbar {
  --background: var(--color-backgroud-init);
  --color: var(--color-backgroud-second);
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.back-icon {
  font-size: 1.5rem;
  color: #fff;
}

.img-edit {
  width: 100%;
  height: 40%;
  display: flex;
}

.imagem-produto {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ion-item .item-align {
  --padding-start: 0;
  --inner-padding-end: 0;
  overflow: initial;
}

.preco-produto {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray-light);
}

.nome-produto {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.categoria-produto {
  font-size: 1rem;
  color: var(--color-gray-light);
  margin-bottom: 0.6rem;
}

.descricao-produto {
  font-size: 0.9rem;
  color: var(--color-gray-dark);
}

.ion-button-editar {
  font-weight: bold;
  --background-activated: var(--color-backgroud-init) !important;
  --background: var(--color-backgroud-init) !important;
  --border-radius: 4rem !important;
}

.ion-button-remover {
  font-weight: bold;
  --background-activated: #fa4c4c !important;
  --background: #fa4c4c !important;
  --border-radius: 4rem !important;
}


@media (min-width: 992px) {
  .img-edit {
    width: 60%;
    margin: auto;
    margin-top: 4rem;
  }

  .md-item {
    width: 50%;
    margin: auto;
  }

  .botoes-container {
    width: 40%;
  }

  .centralizar-lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}