<ion-header>
  <ion-toolbar class="edit-header-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon class="back-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="produto" class="ion-padding">
  <div class="img-edit">
    <ion-img [src]="produto.image" class="imagem-produto" alt="Imagem do Produto"></ion-img>
  </div>
  <ion-list lines="none">
    <ion-item class="md-item">
      <ion-label>
        <ion-item class="item-align">
          <div slot="start">
            <h1 class="nome-produto">{{ produto.title }}</h1>
          </div>
          <div slot="end">
            <p class="preco-produto">{{ produto.price | currency}}</p>
          </div>
        </ion-item>
        <p class="categoria-produto">{{ produto.category }}</p>
        <p class="descricao-produto">{{ produto.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="centralizar-lg">
      <ion-col size="6" size-lg="3" class="text-right">
        <ion-button expand="block" class="ion-button-editar" (click)="editarItem()">Editar</ion-button>
      </ion-col>

      <ion-col size="6" size-lg="3" class="text-right">
        <ion-button expand="block" class="ion-button-remover" (click)="removerItem(produto.id)">Remover</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>