
<swiper-container
  slides-per-view="1"
  speed="500"
  loop="true"
  css-mode="true"
  pagination="true"
  autoplay="true"
>
  <swiper-slide><img src="/assets/img/slide1.jpg" alt=""></swiper-slide>
  <swiper-slide><img src="/assets/img/slide2.jpg" alt=""></swiper-slide>
  <swiper-slide><img src="/assets/img/slide3.jpg" alt=""></swiper-slide>
  <swiper-slide><img src="/assets/img/slide4.jpg" alt=""></swiper-slide>
  <swiper-slide><img src="/assets/img/slide5.jpg" alt=""></swiper-slide>
</swiper-container>