:root{
    --color-backgroud-init:#00113E;
    --color-backgroud-second:#f8f8f8;
    --color-backgroud-white:#fff;
    --color-gray-light:#666;
    --color-gray-dark:#333;

    //font
    --font-size-base: 1.3rem;
    --font-size-lg: 1.9rem;
    --font-size-sm: 0.9rem;
}

